<div class="p-3 content">
    <mat-card class="table-data">
        <button class="btn btn-success" (click)="onCreate()">Tạo</button>

        <table mat-table [dataSource]="service.posters">
            <!-- Id Definition -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
            </ng-container>
    
            <!-- ImageUrl Definition -->
            <ng-container matColumnDef="imageUrl">
                <mat-header-cell *matHeaderCellDef> ImageUrl </mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.imageUrl}}</mat-cell>
            </ng-container>
    
            <!-- Actions Definition -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Thao tác </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a class="icon-action" (click)="onEdit(row.id)"><i class="fa fa-pencil-square"></i></a>
                    <a class="icon-action" (click)="onDelete(row.id)"><i class="fa fa-trash"></i></a>
                </mat-cell>
            </ng-container>
    
            <!-- Header and Row Declarations -->
            <mat-header-row *matHeaderRowDef="['id', 'imageUrl', 'actions']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['id', 'imageUrl', 'actions']"></mat-row>
        </table>
    </mat-card>

    
</div>
