<div class="product-detail">
    <h1 class="product-title">Miền Đất Hứa - The Promised Neverland - Tập 5 - Phiên Bản Bìa Trắng (White Ver) - Tặng Kèm 1 Postcard Hình Nhân
        Vật In Màu (Thiết Kế Độc Quyền Cho Phiên Bản Việt Nam)</h1>
    <div class="product-info">
        <div class="product-info-item">
            <span>Nhà cung cấp:</span>
            <span>IPM</span>
        </div>
        <div class="product-info-item">
            <span>Tác giả:</span>
            <span>Kaiu Shirai, Posuka Demizu</span>
        </div>
        <div class="product-info-item">
            <span>Nhà xuất bản:</span>
            <span>NXB Hồng Đức</span>
        </div>
        <div class="product-info-item">
            <span>Mô tả sản phẩm:</span>
            </div>
        <div class="product-info-item font-italic">
            <span>Tiếng còi báo động vượt ngục vang lên. Nhân lúc lũ quỷ chưa đuổi kịp, nhóm Emma bắt đầu đào tẩu dựa trên vài manh mối ít ỏi. Vứt bỏ sự bình yên giả tạo để mưu cầu tự do, con đường mở ra trước mắt bọn trẻ là…?
                Hỡi những đứa trẻ không có tương lai, hãy đứng lên đối đầu với tuyệt vọng! Cuộc vượt ngục không tưởng sẽ đi đến đâu!?</span>
        </div>
    </div>
    <div class="product-rating">
        <span class="text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
    </div>
    <p class="product-price">35.200 đ</p>
    <div class="product-quantity d-flex text-center align-items-center">
        <p class="label-qty">Số lượng:</p>
        <div class="product-quantity-control">
            <a href="" class="btn-subtract-qty">
                <img style="width: 12px; height: auto;" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_minus2x.png">
            </a>
            <input type="text" name="qty" id="qty" maxvalue="999" align="center" value="1" onkeypress="validateNumber(event)" onblur="validateQty();" title="SL" class="input-text qty">
            <a href="" class="btn-ađ-qty">
                <img style="width: 12px; height: auto;" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_plus2x.png">
            </a>
        </div>
    </div>
</div>