    <div class="product-item">
        <div class="d-flex align-items-center">
            <div class="col-6 p-0 position-relative image-overlap-shadow">
                <img class="rounded img-book" src="{{product.pictureUrl}}" alt="{{product.name}}">
                <div class="view-book">
                    <a href="#" class="btn btn-sm btn-light text-success">Xem sách</a>
                </div>
            </div>
            <div class="col-6 pt-3">
                <div class="mb-2">
                    <h6 class="mb-1 product-name">{{product.name}}</h6>
                    <p class="line-height mb-0 product-author">{{product.publisher}}</p>
                    <span class="text-warning product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
                <div class="price d-flex align-items-center">
                    <h6><b>{{product.price | currency: "VND"}}</b></h6>
                </div>
                <div class="product-buy">
                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                 </div>
            </div>
        </div>
    </div>
    
