<div class="single category">
    <div class="side-title">
        <h4 class="text-title text-center">Chức Năng Quản Lí</h4>
    </div>
    <ul class="list-unstyled">
        <li><a [routerLinkActive]="['active']" [routerLink]="['/admin', 'category-manager']">Danh mục</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/admin', 'poster-manager']">Ảnh bìa</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/admin', 'product-manager']">Sản phẩm</a></li>
        <li><a href="" title="">Khách hàng</a></li>
        <li><a href="" title="">Khuyến mãi</a></li>
        <li><a href="" title="">Đơn hàng</a></li>
    </ul>
</div>