.single {
    background: #fcfcfc;
    height: 100vh;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}

.single .side-title {
    margin: 0;
    padding: 10px;
    width: 100%;
    background-color: #0dd6b8;
}

.single .side-title .text-title{
    font-size: 20px;
    color: #fff;
    margin: 0;
}

.single ul {
    border: 1px solid #f0f0f0; 
    margin-bottom: 0; }
    .single li a {
    padding-left: 20px;
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    padding-top: 1.5px;
    line-height: 40px;
    display: block;
    text-decoration: none; }
    .single li a:hover {
    color: #18bc9c; }
    .single li a.active{
        color:#0dd6b8;
        border-color: #0dd6b8;
    }
    .single li:last-child a {
    border-bottom: 0; 
}