<div class="single category">
    <div class="side-title">
        <h4 class="text-title text-center">Danh Mục Sản Phẩm</h4>
    </div>
    <ul class="list-unstyled">
        <li><a href="" title="">Tiểu thuyết</a></li>
        <li><a href="" title="">Truyện ngắn</a></li>
        <li><a href="" title="">Tâm lý</a></li>
        <li><a href="" title="">Kỹ năng sống</a></li>
        <li><a href="" title="">Kinh tế</a></li>
        <li><a href="" title="">Chính trị</a></li>
        <li><a href="" title="">Trí tuệ</a></li>
        <li><a href="" title="">Truyện thiếu nhi</a></li>
    </ul>
</div>