<div class="row">
  <div class="col-3 pl-0">
    <app-category></app-category>
  </div>
  <div class="col-9 pr-0">
    <app-banner></app-banner>
  </div>
  
  <div class="col-12 products-list mt-4">
    <div class="row">
      <div class="col-12 tab-header"><p class="tab-title">Sản Phẩm Hot</p></div>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3 mt-4" *ngFor="let item of products">
          <app-product-item [product]=item></app-product-item>
      </div>
    </div>
  </div>
  
    <div class="">
      <app-cart></app-cart>
    </div>
</div>
  