<div class="product-media">
    <div class="product-view d-flex">
        <div class="product-view-thumbnail">
            <div class="gallery">
                <div class="gallery-item">
                    <img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/thumbnail/66x/9df78eab33525d08d6e5fb8d27136e95/n/e/neverland5_biaao_trang_bia1_1.jpg" alt="image">
                </div>
                <div class="gallery-item">
                    <img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/thumbnail/66x/9df78eab33525d08d6e5fb8d27136e95/n/e/neverland5_biaao_trang_bia1_1.jpg" alt="image">
                </div>
            </div>
        </div>
        <div class="product-view-image">
            <img class="d-block" src="https://cdn0.fahasa.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/n/e/neverland5_biaao_trang_bia1_1.jpg" alt="Miền Đất Hứa - The Promised Neverland - Tập 5 - Phiên Bản Bìa Trắng (White Ver) - Tặng Kèm 1 Postcard Hình Nhân Vật In Màu (Thiết Kế Độc Quyền Cho Phiên Bản Việt Nam)" title="Miền Đất Hứa - The Promised Neverland - Tập 5 - Phiên Bản Bìa Trắng (White Ver) - Tặng Kèm 1 Postcard Hình Nhân Vật In Màu (Thiết Kế Độc Quyền Cho Phiên Bản Việt Nam)">
        </div>
    </div>
    <div class="product-add-cart d-flex justify-content-center mt-3">
        <button class="d-flex align-items-center justify-content-center">
            <div class="shopping-cart-icon"></div>
            <span>Thêm vào giỏ hàng</span>
        </button>
    </div>
</div>