body{
    background-color: #F0F0F0 !important;
}

/* @media (min-width: 1200px){
    .container{
        max-width: 1300px !important;
    }
} */

.products-list{
    background-color: #fff;
}

.tab-header{
    height: 50px;
    width: 100%;
    background-color: #0dd6b8;
}

.tab-title{
    color: #fff;
    font-size: 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
