<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://cdn0.fahasa.com/media/magentothem/banner7/TrangBigSale1_T621_mainbanner__920x420.jpg" alt="Random first slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://cdn0.fahasa.com/media/magentothem/banner7/TGDQ920x420.jpg" alt="Random second slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://cdn0.fahasa.com/media/magentothem/banner7/TGDQ920x420.jpg" alt="Random third slide">
      </div>
    </ng-template>
  </ngb-carousel>